*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(187, 184, 184);
}
.navigation{
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    position:fixed;
    top:-50px;
    transition:.3s;
}
.navigation a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    padding: 10px 30px;
}
.navigation a:hover{
    color:black;
    background-color: rgb(204, 199, 199);
}