* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 138, 64);
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    z-index: 1;
    background-color: black;
    padding-top: 90px;
    overflow-x: hidden;
    transition: .5s;
}

.navigation a {
    display: block;
    color: rgb(200, 194, 194);
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
    line-height: 40px;
    width: fit-content;
}

.navigation a:hover {
    color: white;
}

#cross {
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgb(228, 222, 222);
    font-size: 50px;

}

#bar {
    color: black;
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}