*{
    margin: 0;
    padding: 0;
}
section{
width: 90%;
height: auto;
margin: auto;
}
h1{
    margin: 50px auto;
    width: 200px;
}
table{
    width: 100%;
    margin: 10px 0px 2px 6px;
    table-layout: auto;
    color: rgb(68, 67, 67);
    text-align: center;
    background-color: #ffff;
    border-collapse: collapse;
    border-spacing: 0;
}
table tr{
border: 1px solid brown;

}
td:first-child{
    width: 100px;
}
td input{
    margin-left: 30px;
}
button{
    padding: 8px 10px ;
    margin: 10px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: bold;
    display: none;

}
label{
    cursor: pointer;
}
input{
    width: 20px;
    height: 20px;
    float: left;
}
i.fa-edit{
    color: lime;
}
i.fa-trash{
    color: red;
}
ul{
    height: 50px;
    padding: 0 5px;
    width: auto;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul li{
    list-style: none;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid #ccc;
}
td:nth-child(6){
    float: none;
    margin: 0;
    width: 15px;
    height: 15px;
}